* {
    margin: 0;
    box-sizing: border-box;
    margin-left: 20px;
    scroll-behavior: smooth;
    
    
}

body {

    
    background-color: #fff5d7;
    color: #4a2e2a;
    margin: 0;
    padding: 0;
    font-weight: 700;
    
}

nav {
    width: 100%;
    height: 80px;
    text-align: center;
    font-weight: 700;


}





nav ul {

    margin-right: 20px;

}


nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: black;
    font-size: 15px;
    text-decoration: none;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
    font-style: normal;
    transition: color 0.0s ease, background-color 0.3s ease, transform 0.2s ease;
}

nav ul li a:hover {
    color: #709a62;
    transform: scale(2.1);
}

.focim {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 10%;
    margin-top: 2%;
    animation: beuszas 3s ease-in-out;
    font-weight: 700;
    

}

.focim-szoveg {
    max-width: 50%;

}

.focim h1 {
    font-size: 6rem;
    margin-bottom: 15px;
    font-weight: 700;

}

.focim p {
    font-size: 1.2rem;
    line-height: 1.5;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.hosok{
    margin-top: 5%;
    margin-right: -20%;
}

.buttons {
    margin-top: 20px;
    padding: 12px 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    display: inline-block;
    margin-right: 10px;
    font-weight: 700;
}


.btn1 {
    margin-top: 20px;
    padding: 24px 50px;
    text-decoration: none;
    border-radius: 10px;
    display: inline-block;
    margin-right: 10px;
    background-color: #709a62;
    border: 3px solid #000000;
    color: rgb(0, 0, 0);
    font-size: 22px;
    cursor: pointer;
    font-weight: 700;
    


}

.btn2 {

    margin-top: 20px;
    padding: 24px 48px;
    text-decoration: none;
    border-radius: 10px;
    display: inline-block;
    margin-right: 10px;
    border: 3px solid #000000;
    color: #000000;
    background-color: #fff5d7;
    cursor: pointer;
    font-weight: 700;

}

.btn1:hover{
    background-color: #557455;
}
.btn2:hover{
    background-color: #dad0b2;
}
.hosok img {
    width: 600px;
    margin-left: 100%;
    margin-top: -65%
    
}

footer {
    text-align: center;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-top: -2%;
    background-color: #709a62;
    padding: 25px;
    width: 100%;
    left: 0;
    right: 0;
    



}
@keyframes beuszas{
    from{
        opacity: 0;
        transform:translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
 .karakter-kp-szoveg h1{

    margin-top: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 10%;
    animation: beuszas 3s ease-in-out;
    margin-left: -10%;
    margin-top: 10%;
    margin-bottom: 15px;
    font-weight: 700;
}
    
    
 
 .karakter-kp-szoveg p{
    font-size: 1.2rem;
  line-height: 1.5;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-style: normal;

 }


 .hoskep {
    margin-top: -70%;
    margin-left: 120%;
 }

 .kepesegek{
    background-color: #ece7d9;
    font-size: larger;
    height: 42px;
    border-radius: 20%;
    display: flex;
    align-items: center;
    padding: 10% 20%;
    max-width: 600%;
    font-family: "Platypi", serif;
    font-weight: 700;
    }

    
 
 .feature {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    background-color: #f4f0e6;
    padding: 20px;
    border-radius: 100px;
    margin-top: 10px;
    margin-bottom: 100;
    margin-left: -10%;
    font-weight: 700;
}

.circle {
    width: 65px;
    height: 49px;
    background-color: #709a62;
    border-radius: 50%;
    margin-right: 30px;

}


